<form>
    <div class="form-group">
        <label for="vehicleSelect">Select Vehicle </label>
        <select id="vehicleSelect" class="form-control">
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
            <option>Four</option>
            <option>Five</option>
        </select>
    </div>

    <div class="form-group">
        <label for="costPerLitre">Current fuel £/ltr </label>
        <input type="number" class="form-control" id="costPerLitre" value="1.19">
    </div>
    <div class="form-group">
        <label for="fuelSaving">% saving on fuel</label>
        <input type="number" class="form-control" id="fuelSaving" value="30">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">%</span>
        <input type="text" class="form-control" placeholder="Enter saving on fuel" aria-describedby="basic-addon1">
    </div>

    <div class="form-group">
        <label for="costOfH2Cell">Cost of H2 cell</label>
        <input type="number" class="form-control" id="costOfH2Cell" value="1000">
    </div>

</form>

<form>
    <div class="form-group">
        <label for="milesPerYear">Miles per year </label>
        <input type="number" class="form-control" id="milesPerYear" value="20000">
    </div>
    <div class="form-group">
        <label for="mpg">MPG</label>
        <input type="number" class="form-control" id="mpg" value="20">
    </div>

</form>

<table>
    <thead>
    <tr>
        <th>£ Fuel Cost per year</th>
        <th>H2 fuel cell saving</th>
        <th>£ Fuel Cost after saving</th>
        <th>Saving per month</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Body content 1</td>
        <td>Body content 2</td>
        <td>Body content 1</td>
        <td>Body content 2</td>
    </tr>
    </tbody>
</table>
