<div id="h2Pricer">

    <form class="form-inline" style="margin-bottom:10px;border-color:#428bca; border-style: solid;border-width: 2px;border-radius: 5px; padding: 5px 5px 5px 5px; ">
        <div class="form-group input-group-sm">
            <label for="costPerLitre">Current fuel £/ltr </label>
            <input type="number" style="width: 60px;margin-left: 5px;" size="4" class="form-control " id="costPerLitre" ng-model="vm.priceCalculator.fuelPriceLtr">
        </div>
        <div class="form-group input-group-sm">
            <label style="margin-left: 5px;" for="fuelSaving">Increase in MPG %</label>
            <input type="number" style="width: 60px;margin-left: 5px;" size="4" class="form-control" id="fuelSaving" ng-model="vm.priceCalculator.h2FuelCellSaving">
        </div>

    </form>

    <section>
      <p>Details relating to your vehicles usage. </p>
    </section>

    <form class="form-inline" style="margin-bottom:10px;border-color:#777777; border-style: solid;border-width: 2px;border-radius: 5px; padding: 5px 5px 5px 5px; ">
        <div class="form-group input-group-sm">
            <label style="margin-left: 5px;"  for="milesPerYear">Miles per year </label>
            <input type="number" style="width: 100px;margin-left: 5px;" class="form-control" id="milesPerYear" ng-model="vm.priceCalculator.milesPerYear">
        </div>
        <div class="form-group input-group-sm">
            <label style="margin-left: 5px;"  for="mpg">MPG</label>
            <input type="number" style="width: 60px;margin-left: 5px;" class="form-control" id="mpg" ng-model="vm.priceCalculator.mpg">
        </div>

    </form>


    <section>
        <h3 class="section_header skincolored">Cost saving's per vehicle</h3>
    </section>
    <div class="panel panel-default">
        <table class="table table-bordered">
            <thead class="h2GridHeader">
            <tr>
                <th>£ Fuel Cost per year</th>
                <th>H2 fuel cell saving per year</th>
                <th> per month</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>£ {{vm.priceCalculator.fuelCostPerYear | number:0}}</td>
                <td>£ {{vm.priceCalculator.H2fuellCellSavingYear | number:0}}</td>
                <td>£ {{vm.priceCalculator.H2fuellCellSavingMonth | number:0}}</td>
            </tr>
            </tbody>
        </table>
     </div>
</div>