<footer>
    <section class="twitter_feed_wrapper">
        <div class="container">
            <div class="row wow animated fadeInUp">
                <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><img src="assets/images/icons/tuv.gif" style=" width: 100px;text-align: right;"></a></div>
                <div class="col-sm-11 col-md-11">
                    <blockquote>
                        <p>TUV Approved : Highest European standard or approved quality, both in engineering and product application.</p>

                </div>
            </div>
        </div>
    </section>
    <section id="footer_teasers_wrapper">
        <div class="container">
            <div class="row">
                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3>About us</h3>
                    <p>We are part of the H2 tech group, delivering the hydrogen technology of the future today.</p>
                    <p><i class="fa fa-map-marker"></i> 18 Aspect Court - Fulham - London </p>
                    <p><i class="fa fa-phone"></i> (+30) 265-9987</p>
                    <p><i class="fa fa-envelope"></i> info@h2haulage.com</p>
                </div>

            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6"> Copyright ©2015 all rights reserved </div>
            </div>
        </div>
    </section>
</footer>