<footer>
    <section class="twitter_feed_wrapper">
        <div class="container">
            <div class="row wow animated fadeInUp">
                <div class="twitter_feed_icon col-sm-1 col-md-1">
                    <a href="http://www.tuv.com/en/uk/home.jsp"><img src="assets/images/icons/tuv-logo.jpg" style=" width: 100px;text-align: right;"></a>
                </div>
                <div class="twitter_feed_icon col-sm-1 col-md-1">
                    <a href="http://www.dekra.com/en/home"><img src="assets/images/icons/deckra.jpg" style=" width: 100px;text-align: right;"></a>
                </div>
                <div class="col-sm-10 col-md-10">
                    <blockquote>
                        <p>TUV Approved : Highest European standard or approved quality, both in engineering and product application.</p>
                        <p>DEKRA ISO 9001:2008 : Has established and maintains a quality management system.</p>
                    </blockquote>

                </div>
            </div>
        </div>
    </section>
    <section id="footer_teasers_wrapper">
        <div class="container">
            <div class="row">
                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3>About us</h3>
                    <p>We are part of the H2 tech group, delivering the hydrogen technology of the future today.</p>
                    <p><i class="fa fa-map-marker"></i> 18 Aspect Court - Fulham - London </p>
                    <p><i class="fa fa-phone"></i> 020 8938 3110</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:info@h2fleet.com">info@h2fleet.com</a></p>
                </div>

                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3>H2Water fuel cell : TUV Approval</h3>
                    <image src="assets/images/benefits/tuvVehcicle.jpg"></image>
                </div>
                <div class="footer_teaser col-sm-4 col-md-4">
                    <h3></h3>
                    <p>The TUV results on a new Mercedes 3 litre diesel engine were:</p>
                    <p> - 64% reduction in emmissions</p>
                    <p> - 34% fuel savings</p>
                    <p>TUV were so impressed that they asked us to convert their very own TUV vehicle.</p>
                </div>
            </div>

        </div>
    </section>


    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6"> Copyright ©2015 all rights reserved </div>
            </div>
        </div>
    </section>
</footer>