<div class="main">
    <section class="hgroup centered">
        <div class="container">
            <h1>Benefits</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="#home">Home</a> </li>
                <li class="active">Benefits</li>
            </ul>
        </div>
    </section>
    <section class="service_teasers">
        <div class="container">
            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                        <img src="assets/images/benefits/mpg.png">
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>Improved</b> MPG</h2>
                        <p>Increased miles per gallon through improved engine performance.</p>
                        <p><strong>Min 15% up to 40% increase in MPG</strong></p>

                </div>
            </div>
            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4">
                        <img src="assets/images/benefits/enginesEdit.png">
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>Increased </b>torque</h2>
                        <p>Increased torque through improved engine performance – more torque equals less throttle.</p>

                        <p>Data from a rolling road test ..</p>
                        <a class="btn btn-primary pull-right" href="assets/documentation/Graph.pdf"><i class="fa fa-gears"></i>&nbsp; Read Full Documentation</a> </div>
                </div>
            </div>

            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                        <img src="assets/images/benefits/CO2icon.png">
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>Reduced </b>emissions</h2>
                        <p>Toxic exhaust gases <strong>NOx, HC, CO and CO2 </strong>are drastically lowered.</p>
                </div>
            </div>

            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4">

                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>Engine </b>health</h2>
                        <p>Carbon build-up leads to potentially expensive issues such as expensive failures of <strong>Exhaust Gas Recirculation (EGR) Valves, Diesel Particulate Filters (DPF filters)</strong>, Turbo issues, inlet manifold and injector problems.</p>
                        <p>The H2 water fuel cell creates HHO molecules that pass through the air intake of an engine increasing the temperature of combustion and therefore stripping the built-up excess carbon that leads to poor running issues.</p>
                        <p>By removing harmful carbon build-up from your engine, you will experience both immediate and long term benefits, including. Cleaner engine and oils due to reduced hydrocarbon accumulation, which means <strong>fewer oil and filter changes.</strong></p>
                    </div>
            </div>


    </section>

    <h2-footer>

    </h2-footer>

</div>