<div class="main">
    <section class="hgroup centered">
        <div class="container">
            <h1>Life cycle</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="#home">Home</a> </li>
                <li class="active">Life cycle</li>
            </ul>
        </div>
    </section>
    <section class="service_teasers">
        <div class="container">
            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                        <img src="assets/images/icons/money-back-guarantee.jpg" style="width: 100px;">
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>Money Back </b> Guarantee</h2>
                        <p>Each Hydrogen fuel cell comes with a 30 day money back guarantee</p>

                    </div>
                </div>
                <div class="service_teaser">
                    <div class="row">
                        <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                            <img src="assets/images/icons/ce-marking-logo.jpg" style=" width: 100px;text-align: right;">
                        </div>
                        <div class="service_details col-sm-8 col-md-8">
                            <h2 class="section_header skincolored"><b>Warranty </b></h2>
                            <p>Each H2 fuel cell comes with a 3 year Warranty, subject to a yearly service.</p>
                            <p>The H2 fuel cell is an approved product with CE Certification</p>

                    </div>
                </div>

                <div class="service_teaser">
                    <div class="row">
                        <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                            <img src="assets/images/icons/logo.png" style=" width: 100px;text-align: right;">
                        </div>
                        <div class="service_details col-sm-8 col-md-8">
                            <h2 class="section_header skincolored"><b>Installation </b></h2>
                            <p>Once the installation is complete through one of our accredited installers you will receive an Installation Certificate and Service Booklet</p>
                        </div>
                    </div>



    </section>

    <h2-footer>

    </h2-footer>

</div>