<div class="main">
    <section class="hgroup centered">
        <div class="container">
            <h1>Benefits</h1>
            <ul class="breadcrumb pull-right">
                <li><a href="#home">Home</a> </li>
                <li class="active">H2 promise</li>
            </ul>
        </div>
    </section>
    <section class="service_teasers">
        <div class="container">
            <div class="service_teaser">
                <div class="row">
                    <div class="service_photo col-sm-4 col-md-4" style="text-align: right;">
                        <img src="assets/images/icons/handshake.png">
                    </div>
                    <div class="service_details col-sm-8 col-md-8">
                        <h2 class="section_header skincolored"><b>H2 Promise </b>through a proof of concept</h2>
                        <p>If you are wondering how to make best use of the opportunities presented, what the value will be to your business and require the data to support your decision.</p>
                        <p>We provide you with the <strong>“H2 Promise through a proof of concept”.</strong></p>
                        <p>The H2 Promise through a proof of concept allows us to provide the following service around our H2 Fuel cell.</p>
                        <p><strong>1. </strong>We will send an engineer to your organisation to install a H2 fuel cell for each custom use case you may have – free of charge.</p>
                        <p><strong>2. </strong>You can then run the H2 fuel cell for 14 days, which will give you the chance to collect your own data on the value / performance gains of the H2 fuel cell.</p>
                        <p><strong>3. </strong>At the end of the 14 day proof of concept we can then discuss how you wish move forward. </p>
                        <p>The proof of concept is completely covered by our <strong>professional indemnity insurance.</strong></p>

                    </div>
                </div>


    </section>

    <h2-footer>

    </h2-footer>

</div>