<jumbotron></jumbotron>


<div class="main">

    <div class="container">
        <section class="call_to_action">
            <h3>H2 promise</h3>
            <h4>through a proof of concept</h4>
        <section class="features_teasers_wrapper">
            <div class="row">
                <div class="feature_teaser col-sm-3 col-md-3">

                </div>
                <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" style="width: 150px;" src="assets/images/icons/handshake.png">
                    <h3>Work with us to prove the technology fits your business</h3>
                    <p>If you are wondering how to make best use of the opportunities presented, what the value will be to your business and require the data to support your decision.</p>
                    <p>We provide you with the “H2 Promise through a proof of concept”. <a href="#h2Promise">read more ......</a></p>
                </div>
                <div class="feature_teaser col-sm-3 col-md-3">
                </div>
            </div>
        </section>

            <section class="portfolio_teasers_wrapper">
                <h2 class="section_header fancy centered">Fleet in the news</h2>
                <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">

                        <div class="portfolio_item wow animated flipInX">
                            <a href="http://www.fleetnews.co.uk/fleet-management/euro6-diesel-cleans-up-its-act/52786/" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                                <figure style="background-image:url(assets/images/icons/euro-61.jpg)">

                                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                    </svg>
                                    <figcaption >
                                        <p style="color: #000000">Euro6 emissions regulations will see all car and van manufacturers introduce super-clean diesel engines.</p>
                                        <div class="view_button">View</div>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolio_description">
                                <h3><a href="http://www.fleetnews.co.uk/fleet-management/euro6-diesel-cleans-up-its-act/52786/">Euro6</a></h3>
                                <p>Diesel cleans up its act</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="portfolio_item wow animated flipInX">
                            <a href="http://www.esos.uk.com/" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                                <figure style="background-image:url(assets/images/icons/esos-flash-1.gif)">
                                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                    </svg>
                                    <figcaption>
                                        <p></p>
                                        <div class="view_button">View</div>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolio_description">
                                <h3><a href="http://www.esos.uk.com/">ESOS</a></h3>
                                <p>(Energy Savings Opportunity Scheme)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="portfolio_item wow animated flipInX">
                            <a href="http://www.fleetnews.co.uk/fleet-management/more-congestion-charging-zones-in-the-pipeline/54108/" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                                <figure style="background-image:url(assets/images/icons/LEZ1.jpg)">
                                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                    </svg>
                                    <figcaption>
                                        <p style="color: #000000"></p>
                                        <div class="view_button">View</div>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolio_description">
                                <h3><a href="http://www.fleetnews.co.uk/fleet-management/more-congestion-charging-zones-in-the-pipeline/54108/">LEZ</a></h3>
                                <p>More congestion charging zones in the pipeline</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <section class="clients_section wow animated fadeInUp">
            <h2 class="section_header elegant centered">Our clients<small></small></h2>
            <div class="clients_list"> <a href="http://www.smpgroup.co.uk/"><img src="assets/images/clients/smp.logo.png" alt="client"></a> <a href="https://emteam.de/en/"><img src="assets/images/icons/logo-emt.png" alt="client"></a> <a href="http://www.lnrecoveryandstorage.co.uk/"><img src="assets/images/clients/LNrecovery.png" alt="client"></a> </div>
        </section>
    </div>

<h2-footer>

</h2-footer>

</div>