<jumbotron></jumbotron>


<div class="main">

    <div class="container">
        <section class="call_to_action">
            <h3>H2 promise</h3>
            <h4>through a proof of concept</h4>
        <section class="features_teasers_wrapper">
            <div class="row">
                <div class="feature_teaser col-sm-3 col-md-3">

                </div>
                <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" style="width: 150px;" src="assets/images/icons/handshake.png">
                    <h3>Work with us to prove the technology fits your business</h3>
                    <p>If you are wondering how to make best use of the opportunities presented, what the value will be to your business and require the data to support your decision.</p>
                    <p>We provide you with the “H2 Promise through a proof of concept”. <a>read more ......</a></p>
                </div>
                <div class="feature_teaser col-sm-3 col-md-3">
                </div>
            </div>
        </section>
        <section class="portfolio_teasers_wrapper">
            <h2 class="section_header fancy centered">Recent Haulage installations<small>we take pride in our work</small></h2>
            <div class="portfolio_strict row">
                <div class="col-sm-4 col-md-4">
                           <!--This could be another project-->
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(assets/images/portfolio/haulage.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z"/>
                                </svg>
                                <figcaption>
                                    <p>Maxi haulage have installed the H2 fuel cells on the entire fleet of 26 Scania R series....</p>
                                    <div class="view_button">View</div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href="portfolio_item.html">H2 Fuel cell</a></h3>
                            <p>Running Maxi haulage fleet</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <!--This could be another project-->
                </div>
            </div>
        </section>
        <section class="clients_section wow animated fadeInUp">
            <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
            <div class="clients_list"> <a href="http://www.smpgroup.co.uk/"><img src="assets/images/clients/smp.logo.png" alt="client"></a> <a href="http://www.ghana.gov.gh/"><img src="assets/images/clients/Ghana.svg.png" alt="client"></a> <a href="http://www.lnrecoveryandstorage.co.uk/"><img src="assets/images/clients/LNrecovery.png" alt="client"></a> </div>
        </section>
    </div>

<h2-footer>

</h2-footer>

</div>