<div >

    <div ng-show="widget.editMode" style="margin-bottom:4px;width:100%">

        <a ng-show="!showSettings"
           href="javascript:void(0)"
           class="btn btn-mini btn-success left"
           style="margin-right:5px"
           ng-click="saveWidgetConfig(widget)">Save</a>

        <a ng-show="!showSettings"
           href="javascript:void(0)"
           class="btn btn-mini btn-success left" style="margin-right:5px"
           ng-click="toggleEditMode(widget)">Cancel</a>

        <div style="margin-bottom:4px">

                <div style="min-height:22px">

                    <masonary-navigation style="float: left">

                    </masonary-navigation>

                    <div style="float: right">
                        <a id="deletedWidgetbtn" ng-show="widget.editMode"
                           href="javascript:void[0]" ng-click="removeWidget(widgetIndex)"
                           class="btn btn-danger btn-mini" style="float:right"><strong>x</strong></a>

                    </div>
                </div>
                <hr>

        </div>
    </div>

    <div  ng-show="!widget.editMode" style="margin-bottom:4px">

       <a href="#" style="margin-right:5px;font-size:12px;margin-left:6px;max-width: 100px"
                   e-style="font-size:12px;height: 12px; margin-right:2px;margin-left:6px;max-width:80px"
                   editable-text="widget.widgetTitle"
                   onbeforesave="saveTitle($data)"
                   onshow="updateLayout()"
                   onhide="updateLayout()"
                   >{{ widget.widgetTitle || 'Add widget title' }}</a>

       <a id="editWidget"
                   href="javascript:void(0)"
                   class="btn btn-mini btn-inverse"
                   ng-click="toggleEditMode(widget)"
                   title="Edit widget" style="margin: 0 0 2px 0px;float:right;">
            <i class="icon-wrench icon-white"></i></a>

        <hr>
    </div>

</div>

